.centeringColumn {
    display: flex;
    flex-direction: column;
  }
  .centeringRow {
    display: flex;
    flex-direction: row;
  }
  .default-link {
    text-decoration: none;
    color: black;
  }
  .flex-flex {
    display: flex;
    justify-content: center;
  }
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  nav {
    display: flex;
    justify-content: center;
  }
  nav a {
    font-size: 1.5rem;
    height: fit-content;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 1%;
    padding-right: 1%;
    text-decoration: none;
    color: black;
  }
  nav a:nth-child(1),
  nav a:nth-child(2) {
    border-right: 1px solid black;
  }
  nav a:hover {
    font-weight: bolder;
  }
  .title-container {
    background-image: url("../assets/home.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 95%;
    height: 40rem;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4%;
    opacity: 1;
  }
  @media (max-width: 500px) {
    .title-container {
      width: 95%;
    }
  }
  .title-container div {
    align-self: center;
    font-size: 5rem;
    color: white;
    text-align: center;
    width: 40rem;
  }
  @media (max-width: 500px) {
    .title-container div {
      font-size: 3rem;
    }
  }
  .title-container .btn {
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-top: 1.2%;
    border-radius: 5%;
    font-size: 1.5rem;
    align-self: center;
  }
  .title-container:hover {
    opacity: 80%;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .artists-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    border-top: lightgray 0.2rem solid;
  }
  @media (max-width: 500px) {
    .artists-container {
      display: flex;
      flex-direction: column;
    }
  }
  .artists-container .artist {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 30rem;
    margin-top: 2%;
  }
  .artists-container .artist img {
    width: 30rem;
    height: 25rem;
  }
  .artists-container .artist a {
    text-decoration: none;
    color: #00001a;
    align-self: center;
    padding: 4%;
    font-size: 1.5rem;
  }
  .artists-container img:hover {
    opacity: 80%;
  }